.chessboard{
    border: 2px solid black;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 50vw;
    margin: 0 auto;
    width: 50vw;
  }
  
  .row{
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  
  
  .white-box{
    background-color: #eeeed2;
    flex: 1;
  }
  
  .black-box{
    background-color: #85aa53;
    flex: 1;
  }
 body {
    background-color: #312e2b;
    color: aliceblue;
 }